<div class="container mt-4">
  <h2 class="text-center mb-4">Liste des suggestions</h2>

  <div class="text-end mb-3">
  <a routerLink="/suggestions/add" class="btn btn-success">
    ➕ Ajouter une suggestion
  </a>
</div>

  <!-- Barre de recherche (Two-way binding avec [(ngModel)]) -->
  <input
    type="text"
    class="form-control mb-4"
    placeholder="Rechercher une suggestion..."
    [(ngModel)]="searchText"
  />

  <!-- Boucle sur les suggestions filtrées (NgFor) -->
  <div *ngFor="let suggestion of filteredSuggestions" class="card mb-3 p-3">

    <!-- Titre et catégorie (Interpolation) -->
    <h5>{{ suggestion.title }}</h5>
    <small class="text-muted">{{ suggestion.category }} — {{ suggestion.date | date:'dd MMM yyyy' }}</small>
    <p class="mt-2">{{ suggestion.description }}</p>

    <!-- Badge statut -->
    <span class="badge"
      [ngClass]="{
        'bg-success': suggestion.status === 'acceptee',
        'bg-danger': suggestion.status === 'refusee',
        'bg-warning text-dark': suggestion.status === 'en_attente'
      }">
      {{ suggestion.status | uppercase }}
    </span>

    <!-- Boutons Like et Favoris : cachés si refusée (NgIf) -->
    <div *ngIf="suggestion.status !== 'refusee'" class="mt-2">

      <!-- Event binding sur le clic -->
      <button class="btn btn-primary btn-sm me-2" (click)="likesuggestion(suggestion)">
        👍 Like {{ suggestion.nbLikes }}
      </button>

      <button class="btn btn-outline-secondary btn-sm" (click)="addToFavorites(suggestion)">
        ♡ Ajouter aux favoris
      </button>

     

    </div>
     <a [routerLink]="['/suggestions', suggestion.id]" class="btn btn-info btn-sm mt-2">
  🔍 Details
</a>
  </div>

</div>